<div class="app-body">
  <h1>All Slides</h1>

  <% @slides.each do |slide| %>

    <p><%= link_to slide.title, admin_slide_path(slide) %> <%= button_to "Delete Slide", admin_slide_path(slide), method: :delete %> <%= button_to "Edit Slide", edit_admin_slide_path(slide), method: :get %></p>

  <% end %>
</div>
