<div class="app-body">
  <h1>All Slides</h1>

  <% @slides.each do |slide| %>
    <p>
      <%= link_to slide.title_with_blanks, admin_slide_path(slide) %>
      <%= button_to "Delete Slide", admin_slide_path(slide), method: :delete %>
      <%= button_to "Edit Slide", edit_admin_slide_path(slide), method: :get %>
      <%= button_to "Approve Slide", admin_slide_path(slide, {slide: {status: :approved}}), method: :patch %>
    </p>
  <% end %>
</div>
