<div class='app-body'>
  <h1>Login</h1>
  <% if current_user %>
    <p>Welcome, <%= current_user.name %>.</p>
  <% else %>
    <p><%= link_to "Sign in with GitHub", "/auth/github" %></p>
  <% end %>
</div>
