body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: sans-serif;
}

.app-body {
  padding: 20px;
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
}

.app-body h1 {
  margin: 8px;
}

.app-body p {
  margin: 8px;
  color: white;
}

nav {
  background-color: #05C2D1;
  color: white;
}

nav h1 {
  margin: 0;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav li a {
  width: 100px;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
}

nav li a:hover {
  background-color: #015267;
}

select {
  width: 10%;
  padding: 5px;
  border-radius: 4px;
  border: none;
  padding: 12px 20px;
  margin: 8px;
  border: 2px solid black;
}

input[type=text] {
  padding: 5px;
  width: 40%;
  border-radius: 4px;
  border: none;
  padding: 12px 20px;
  margin: 8px;
  border: 2px solid black;
}

input[type=submit] {
  padding: 5px;
  background-color: #05C2D1;
  color: white;
  border: 2px solid black;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px;
}

input[type=text]:focus {
  border: 2px solid #05C2D1;
}

.app-body a {
  color: white;
}

.billboard-image {
  position: relative;
  width: 100%;
}

.alert {
  padding: 10px 20px;
  color: white;
}

.alert a {
  color: white;
}

.success {
  background-color: #019833;
}

.failure {
  background-color: #BB1E2F;
}

#main-billboard {
  padding: 0;
  margin: 0;
  width: vw;
}

.billboard-title {
  padding: 20px;
  margin: 0;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 80px;
  background-color: #05C2D1;
  color: white;
  font-size: 2em;
}

.billboard-message {
  padding: 20px;
  margin: 0;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  font-size: 1.5em;
  float: left;
}

.billboard-image {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
  background-color: black;
}
