<nav>
  <ul>
    <li><%= link_to "New Slide", new_admin_slide_path %></li>
    <li><%= link_to "All Slides", admin_slides_path %></li>
    <li><%= link_to "Log Out", logout_path %></li>
  </ul>
</nav>

