<!DOCTYPE html>
<html>
  <head>
    <title>BillboardApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'billboard', media: 'all' %>
    <%= javascript_include_tag 'billboard' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
